//Color Scheme
//Color 1
$color-white: #fff;
$color-platinum: #e6e7e7;
$color-lightgray: #d1d1d1;
//Color 2
$color-fuzzywuzzy: #e56353;
$color-ruddypink: #d76c69;
$color-spanishpink: #ecbcba;
//color 3
$color-eerieblack: #121619;
$color-raisinblack: #222323;
$color-nickel: #6c6e70;

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Typography
// Font Weight
$regular: 500;
$light: 300;
$bold: 700;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

