header {
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 10rem;
   height: 60vmax; 
   
   
 }

 .header--text {
     font-family: $playfair;
     font-weight: bolder;
     font-size: 8vmax;
     font-style: italic;
     padding-top: 1.5em;
 }

 .header--icono {
    
    padding-top: 15rem;
}